.container {
    flex-basis: 50%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
}
.previewPane, .inputPane {
    margin-top: 5px;
    padding: 0.6em;
    overflow: auto;
    flex-grow: 1;
    flex-shrink: 1;
}
.previewPane {
    display: flex;
    border: 1px solid #ccc;
}
.containers {
    display: flex;
    height: calc(100vh - 20px);
}
#mdhr_preview_frame {
    border: 0;
    flex-grow: 1;
}
