﻿/*
 * Copyright JFX 2021-2023
 * MIT License
 * https://gitlab.com/jfx2006
 */

/* ----- General ----- */
:root, body.dark {
  --bg: #000;
  --border: #777;
  --color: #fff;
  --hover: #888;
  --shadow: #fff8;
  --btn-bg: #666;
  --btn-hover: #444;
  --bg2: #777;
  --bg3: #999;
  --bg-even: #444;
  --bg-odd: #555;
  --img-filter: invert(1) grayscale(1);
  --focus: #345;
  --valid: #200;
}

@media screen and (prefers-color-scheme: light) {
  :root {
    --bg: #fff;
    --border: #ddd;
    --color: #000;
    --hover: #eee;
    --shadow: #0004;
    --btn-bg: #f9f9fa;
    --btn-hover: #fff;
    --bg2: #ccc;
    --bg3: #fff;
    --bg-even: #eee;
    --bg-odd: #ddd4;
    --img-filter: none;
    --focus: #def8;
    --valid: #fff5f5;
  }
}

body {
  color: var(--color);
  background: var(--bg);
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

article {

}

/* ----- Table ----- */
table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
}

caption {
  color: #fff;
  background: #444;
  padding: 0.2em 0.5em 0.2em 1em;
  font-size: 1.5em;
}

caption img {
  width: 1em;
  filter: invert(1);
}

caption span {
  font-size: 0.5em;
}

thead th {
  padding: 0.2em 0.5em;
  background: var(--bg2);
  position: sticky;
  top: 0;
  z-index: 1;
  font-weight: normal;
}

th:nth-child(1) {
  text-align: left;
}

th:nth-child(2) {
  text-align: right;
}

tr:nth-child(even) {
  background: var(--bg-even);
}

tr:nth-child(odd) {
  background: var(--bg-odd);
}

tr td:last-of-type {
  background: var(--bg);;
}

tr:not(:last-of-type) {
  border-bottom: 1px solid var(--border);
}

td {
 width: 50%;
}

td:nth-child(1) {
 padding-left: 0.5em;
 font-size: 0.9em;
}

td.group_header {
  font-weight: bold;
  font-size: larger;
  text-align: center;
}

input {
  width: 100%;
  border: none;
  padding: 0.2em;
  outline: 0;
  color: inherit;
  background: transparent;
}

input:valid {
  background-color: var(--valid);
}

input:focus {
  background-color: var(--focus);
}

tfoot td {
  padding: 0.2em 0.5em;
  position: sticky;
  bottom: 0;
  z-index: 1;
  height: 1em;
  color: #800;
  background: #fff5f5 !important;
  transition: 0.5s;
  opacity: 1;
}

tfoot td:empty {
  opacity: 0;
}

/* -----Help ----- */
details {
  padding: 0;
  margin-left: 1em;
  display: inline-block;
}

summary {
  list-style: none;
  outline: 0;
  padding: 0.4em 0.6em;
  cursor: pointer;
  transition: 0.5s;
}

summary img {
  width: 1em;
  vertical-align: bottom;
  filter: var(--img-filter);
}


summary:hover, details[open] {
  background: var(--hover);
}

details[open] summary ~ * {
  animation: fade-in 0.5s ease-in-out;
}

@keyframes fade-in {
    0%  { opacity: 0; transform: translateY(-1em); }
  100%  { opacity: 1; transform: translateY(0); }
}

details > div {
  margin: 0;
  padding: 0;
  width: 40vw;
  position: absolute;
  top: 3.5em;
  right: 0.6em;
  z-index: 10;
  background: #777;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 var(--shadow);
  transition: 0.5s;
  text-align: initial;
}

details > div::after {
  content: '';
  position: absolute;
  top: -1.5em;
  right: 0.5em;
  border-width: 0.8em;
  border-style: solid;
  border-color: transparent transparent #777 transparent;
}

div.help {
  background: var(--bg3);
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 5px;
  font-size: 0.9em;
  max-height: 50vh;
  overflow: auto;
  scrollbar-width: thin;
}

code {
  font-size: 1.2em;
  padding: 0 0.2em;
  background: var(--hover);
}

h3 {
  color: #004080;
  margin: 0;
}

dt {
  color: #567;
  font-weight: bold;
  background-color: #eee;
  display: inline-block;
  padding: 0.1em 0.5em;
}

dt span {
  font-size: 0.7em;
}

dd + dt {
  margin-top: 1em;
}

/* ----- Button ----- */
input[type="file"] {
  display: none;
}

label[for="import"] {
  border-top-color: #6a4;
}

button {
  margin-left: 0.5em;
}

button[id="export"] {
  border-top-color: #d24;
}

label[for="import"]::before {
  content: '\1f4e5';
  margin-right: 0.3em;
}

button[id="export"]::before {
  content: '\1f4e4';
  margin-right: 0.3em;
}

.flat {
  color: inherit;
  background: var(--btn-bg);
  border: 1px solid var(--border);
  border-top: 3px solid #3be;
  border-radius: 5px;
  padding: 0.2em 1em;
  font-size: 0.9em;
  transition: 0.5s;
  cursor: pointer;
  text-align: center;
}

.flat:hover {
  background: var(--btn-hover);
  box-shadow: 0 1px 5px var(--shadow);
}
